:root {
    --gr-1: #01512e;
    --gr-2: #D4E2E0;
}

.location {
    overflow: hidden;
    margin-bottom: 90px;

    @include media (1020px) {
        padding-bottom: 40px;
    }

    @include media (850px) {
        padding-bottom: 0px;
    }

    @include media (800px) {
        margin-bottom: 40px;
    }

    @include media (600px) {
        margin-bottom: 16px;
    }

    &_box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(3, 0.5fr);
        gap: 4%;

        @include media(1200px) {
            gap: 5%;
            grid-template-rows: repeat(2, 0.5fr);

        }

        @include media(850px) {

            padding-bottom: 20px;
        }

        @include media(650px) {
            padding-bottom: 0px;

            display: flex;
            flex-direction: column;
        }
    }

    &_card_left {
        grid-row: span 3;

        @include media(850px) {
            grid-row: span 1;

        }

        @include media(650px) {
            grid-row: span 1;
            grid-column: span 2;
            order: +1;
            margin-top: 16px;
        }
    }

    &_img {
        width: 100%;
        height: 560px;
        object-fit: cover;
        object-position: top;
        border-radius: 280px 16px 16px 280px;



        @include media(1000px) {
            border-radius: 200px 16px 16px 200px;
            height: 100%;
        }

        @include media (800px) {
            border-radius: 8px 100px 8px 100px;
        }

        @include media(650px) {
            border-radius: 8px 100px 8px 100px;

            opacity: 80%;
        }
    }


    &_title {
        font-family: 'Golos Text', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 56px;
        text-align: left;

        @include media(1000px) {
            font-size: 24px;
            line-height: 32px;
        }

        @include media(650px) {
            display: none;
        }
    }

    &_text {
        font-family: 'Golos Text', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #505050;

        @include media(1000px) {
            font-size: 14px;
            line-height: 20px;
        }
    }


    &_card1 {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        grid-column: span 1;
        width: 90%;
        padding-bottom: 29px;

        @include media(1600px) {
            width: 85%;
        }

        @include media(1200px) {
            padding-bottom: 80px;

        }

        @include media (850px) {
            grid-row: span 3;
            padding-bottom: 0px;
        }

        @include media(650px) {
            order: -1;
            grid-row: span 1;
            width: 100%;
            margin-top: 0px;
            grid-column: span 2;
            // margin-top: 100px;
        }

        @include media(550px) {
            order: -1;
            grid-row: span 1;
            width: 100%;
            grid-column: span 2;
            // margin-top: 100px;
        }
    }

    &_card2 {
        grid-column-start: 1;
        width: 70%;
        background-color: var(--gr-1);
        padding: 24px 32px;
        border-radius: 32px 32px 32px 0px;

        @include media(1600px) {
            width: 85%;
        }

        @include media(950px) {
            padding-bottom: 50px;
        }

        @include media(850px) {
            width: 100%;
            grid-column-start: 1;
            grid-column: span 1;

        }

        @include media(650px) {
            width: 100%;
            margin-top: 24px;
            grid-column: span 2;
            border-radius: 64px 32px 32px 0px;
        }

        &_container {
            background: #F3F3EF;
            padding: 24px 0;
            padding-left: 44px;
            padding-right: 44px;
            grid-column-start: 2;
            border-radius: 32px 32px 32px 0px;

            @include media(600px) {
                padding-left: 24px;
                padding-right: 16px;
                border-radius: 64px 32px 32px 0px;

            }
        }
    }


    &_text2 {
        font-family: 'Golos Text', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        width: 85%;
        color: white;
        padding-left: 8px;
        border-left: 4px solid #fff;

        @include media(1200px) {
            width: 95%;
        }

        @include media(1000px) {
            font-size: 14px;
            line-height: 20px;
        }

        span {
            font-weight: 600;

        }
    }
}