:root {
    --gr-1: #01512e;
    --gr-2: #D4E2E0;
}

.about {
    height: auto;
    overflow: hidden;

    @include media (650px) {
        padding-bottom: 65px;
    }
    @include media (550px) {
        padding-bottom: 115px;
    }
    @include media (450px) {
        padding-bottom: 113px;
    }
    @include media (400px) {
        padding-bottom: 143px;
    }


    &_box {
        display: grid;
        grid-template-columns: repeat(2, 47%);
        grid-template-rows: repeat(2, 0.5fr);
        justify-content: space-between;
        gap: 24px;
        width: 100%;

        @include media(650px) {
            display: flex;
            flex-direction: column;
        }
    }

    &_card_text {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        grid-column: span 1;

        @include media(1000px) {
            grid-row: span 3;
        }

        @include media(650px) {
            grid-row: span 1;
        }
    }

    &_title {
        font-family: "Golos Text", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 56px;
        text-align: left;

        @include media(1200px) {
            font-size: 32px;
            line-height: 40px;

        }

        @include media(800px) {
            font-size: 24px;
            line-height: 32px;

        }
    }

    &_text {
        font-family: "Golos Text", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #505050;

        @include media(1200px) {
            font-size: 16px;
            line-height: 22px;
        }

        @include media(1000px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &_card_icons {
        display: flex;
        column-gap: 40px;
        margin-top: 32px;
        flex: 2 2 40%;
        width: 100%;

        @include media(1000px) {
            grid-column: span 2;
        }

        @include media(650px) {
            grid-column: span 1;
            grid-row: 2;
            margin-top: 0px;
        }
    }

    &_card_icon {
        display: flex;
        // flex-direction: column;
        row-gap: 56px;
        column-gap: 5%;
        flex-wrap: wrap;
        width: 100%;
        // @include media(1480px) {
        //     flex-direction: row;
        // }

        // @include media (1100px) {
        //     flex-wrap: wrap;
        // }
        @include media (800px){
            row-gap: 40px;
        }
        @include media (600px){
            row-gap: 30px;
        }
    }

    &_icon_text {
        // width: 330px;
        display: flex;
        align-items: center;
        font-family: "Golos Text", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        column-gap: 16px;
        width: 40%;

        @include media(1000px) {
            width: 30%;
            font-size: 18px;
            line-height: 24px;
        }

        @include media(800px) {
            width: 45%;
            font-size: 18px;
            line-height: 24px;
        }

        @include media(650px) {
            width: 47.5%;
            font-size: 14px;
            line-height: 18px;
        }

        &_img {
            width: 80px;
            height: 100%;
            color: black;

            @include media(1400px) {
                width: 54px;
                height: 54px;
            }

            @include media(1200px) {
                width: 40px;
                height: 40px;
            }

            @include media(600px) {
                width: 48px;
                height: 48px;
            }

            &_color {
                fill: var(--gr-1);
            }

            &_color2 {
                fill: var(--gr-2);
            }
        }

        &_card {
            width: 80px;
            height: 80px;

            @include media(1400px) {
                width: 54px;
                height: 54px;
            }

            @include media(1200px) {
                width: 40px;
                height: 40px;
            }

            @include media(600px) {
                width: 48px;
                height: 48px;
            }
        }
    }

    &_card_left {
        position: relative;
        grid-row: span 3;
        max-height: 560px;

        @include media(1000px) {
            // max-height: 400px;
        }

        @include media(650px) {
            order: 1;
        }

        &_img {
            object-fit: cover;
            object-position: right;
            width: 100%;
            height: 100%;
            border-radius: 16px 280px 16px 280px;
            display: inline-block;
            transform: scaleX(-1);

            @include media(1300px) {
                border-radius: 16px 200px 16px 200px;
            }

            @include media(1000px) {
                border-radius: 16px 150px 16px 150px;
            }

            @include media (800px) {
                border-radius: 8px, 100px, 8px, 100px;
            }

            @include media(600px) {
                border-radius: 8px 100px 8px 100px;
            }
        }
    }

    &_map_text {
        padding: 40px 56px;
        background: var(--gr-1);
        position: absolute;
        box-shadow: 0px 12px 26px 0px #0000001a;
        left: -1px;
        border-radius: 16px 16px 120px 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        bottom: -50px;
        width: 80.5%;
        color: white;




        @include media(1538px) {
            padding: 30px 46px;
        }

        @include media(1490px) {
            padding: 20px 36px;
        }

        @include media(1250px) {
            padding: 16px;
        }

        @include media(800px) {
            bottom: -35px;
            border-radius: 12px, 12px, 80px, 12px;

        }

        @include media(650px) {
            width: 100.2%;
            left: -1px;
            border-radius: 16px, 16px, 120px, 16px;
            box-shadow: 0px 6px 8px 0px #0000001a;
            bottom: -55px;
        }
        @include media(550px) {
            bottom: -105px;
        }
        @include media(450px) {
            bottom: -105px;
        }
        @include media(400px) {
            bottom: -135px;
        }

        &_box {
            width: 50px;
            height: 50px;

            @include media(1000px) {
                width: 45px;
                height: 45px;
            }
        }

        &_img {
            width: 50px;
            height: 100%;
            padding: 10px;
            background: white;
            border-radius: 16px;

            @include media(1000px) {
                width: 45px;
                height: 45px;
            }

            @include media(600px) {
                padding: 12px;
            }

            &_color {
                stroke: var(--gr-1);
            }
        }

        &_text {
            font-family: "Golos Text", sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;

            @include media(1538px) {
                font-size: 22px;
            }

            @include media(1450px) {
                font-size: 20px;
            }

            @include media(1250px) {
                font-size: 16px;
                line-height: 24px;
            }
            @include media(1000px) {
                font-size: 14px;
                line-height: 22px;
            }
            @include media(850px) {
                font-size: 12px;
                line-height: 16px;
            }

        }

        &_text2 {
            font-family: "Golos Text", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            text-align: left;

            @include media(800px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .about2 {
        display: none;
    }
}